*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #C2E2D7;
    background-image: url("../img/Best-Web-Design-Tools-2016-shutterstock_265645031-Max-Griboedov.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar{
    position: fixed;
    height: 5.5vw;
    width: 100%;
    background-color: darkslategrey;
    z-index: 4;
}

.nav-align{
    line-height: 5.5vw;
}

.name{
    font-family: 'Courgette', cursive;
    font-size: 50px;
    font-weight: 300;
    color: #D25946;
    margin-left: 45px;
    float: left;
}
.title{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #1E1E1E;
    margin-left: 45px;
}
.links{
    float: right;
    list-style: none;
    margin-right: 25px;
    padding-top: 15px;
}

.toplink{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Merriweather';
}

.toplink a{
    text-decoration: none;
    color: silver;
}

span{
    display: inline-block;
}

/*-----------------------ABOUT PAGE--------------*/
.home-section{
    margin-bottom: 20px;
}

.container{
    padding-bottom: 20px;
}

.home-container{
    padding-top: 50px;
}

.welcome{
    text-align: center;
}

#myPic{
    height: 330px;
    width: 285px;
    border: 1px dimgray solid;
    border-radius: 30%;
    float: right;
    margin-right: 10px;
    margin-top: 240px;
}

.aboutMe{
    position: relative;
    /*width: 45%;*/
    max-height: 350px;
    overflow-y: scroll;
    float: left;
    padding: 20px;
    padding-bottom: 0;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 145px;
    background-color: rgba(247, 247, 247, 0.9);
}
#aboutMeContainer{
    width: 25%;
}

.about-me-title{
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 22px;
}

.aboutMe-heading{
    margin-bottom: 20px;
    font-size: 36px;
}

p{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.project-link{
    color: #D25946;
}

.opacity{
    height: 80vh;
}


/*------------------------PROJECTS PAGE----------*/
.opacity-project-pg {
    background-color: rgba(194, 226, 215, 0.6);
}

.project-container{
    padding-bottom: 20px;
}

.projects{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.row{
    padding: 10px;
    background-color: rgba(247, 247, 247, 0.9);
    margin-bottom: 20px;
}

.project-row{
    padding-top: 10px;
    padding-bottom: 10px;
}

.thumbnail-title{
    font-family: 'Merriweather', serif;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}
.thumbnail{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbnail-txt{
    text-align: center;
}

.technologies{
    text-align: center;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-bottom: 12px;
}

.information{
    z-index: 3;
    padding: 8px;
}

.description{
    text-align: justify;
    font-family: sans-serif;
    font-size: 16px;
    padding: 3px;
}

.completed{
    text-align: left;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: -5px;
    padding: 3px;
}

.spaceBeforeFooter{
    width: 100%;
    height: 20px;
}

/*--------------------CONTACT------------------------*/

.opacity-contact-pg{
    background-color: rgba(194,226,215, 0.6);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 3;
}

.contact-pg{
    margin-bottom: 40px;
}

.contact{
    font-family: 'Merriweather', serif;
    font-size: 24px;
    text-align: center;
    margin-top: 112px;
    margin-bottom: 20px;
}

.contact-form{
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 50px;
}

#email, #name{
    width: 300px;
}

label{
    margin-top: 10px;
}



/*----------------FOOTER-----------------------------*/
footer{
    border-top: solid 2px #D25946!important;
    background-color: #C2E2D7!important;
}

.super{
    margin-left: 50px;
    vertical-align: super;
}

.copyright{
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-weight: 300;
    color: #33442A;
}

.social, .admin-link{
    margin: 20px 15px;
    margin-right: 0;
    color: #33442A;
}

.credit, admin-link{
    margin-top: 20px;
    font-size: 12px;
    float: right;
}


.admin-link{
    float: right;
}

.navbar-right{
    margin-right: 20px!important;
}

.credit{
    padding: 0;
    margin: 0;
    margin-left: 20px;
    font-size: 12px;
    font-family: 'Merriweather', serif;
    color: #33442A;

}
/*--------------------------ADMIN----------------*/
.admin-body{
    background-color: #C2E2D7;
}

.admin-form{
    margin-bottom: 20px;
}

.admin-section{
    height: 78vh;
}

.admin-pg{
    background-color: rgba(247, 247, 247, 0.9);
    margin-top: 100px;
}

.admin-login{
    margin-top: 70px;
}

@media (max-width: 500px) and (orientation: portrait) {
    .name{
        font-size: 36px;
    }
}





/*
fonts:
font-family: 'Merriweather', serif;
font-family: 'Courgette', cursive;
*/