*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #C2E2D7;
    background-image: url("../img/Best-Web-Design-Tools-2016-shutterstock_265645031-Max-Griboedov.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: darkslategrey;
    /*background-color: #EBEBE6;*/
    /*background-color: #e7ddbe;*/
    z-index: 4;
}

.nav-align{
    line-height: 80px;
}

.name{
    font-family: 'Courgette', cursive;
    font-size: 50px;
    font-weight: 300;
    color: #D25946;
    margin-left: 45px;
    float: left;
}
.title{
    font-family: sans-serif;
    font-size: 28px;
    font-weight: 300;
    color: #1E1E1E;
    margin-left: 45px;
}
.links{
    float: right;
    list-style: none;
    margin-right: 25px;
}

.toplink{
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
    font-family: 'Merriweather';
}

.toplink a{
    text-decoration: none;
    /*color: #1E1E1E;*/
    color: silver;
}

span{
    display: inline-block;
}

#treePic{
    text-align: center;
    width: 50px;
    height: 50px;
}
/*-----------------------ABOUT PAGE--------------*/
.home-section{
    margin-bottom: 40px;
}

.container{
    padding-bottom: 50px;
}

.home-container{
    padding-top: 50px;
}

.welcome{
    text-align: center;
}

#myPic{
    height: 330px;
    width: 285px;
    border: 1px dimgray solid;
    border-radius: 30%;
    float: right;
    margin-right: 10px;
    margin-top: 240px;
}

.aboutMe {
    width: 45%;
    float: left;
    padding: 20px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 150px;
    background-color: rgba(247, 247, 247, 0.9);
}

.about-me-title{
    text-decoration: underline;
    margin-bottom: 15px;
    font-size: 22px;
}

.aboutMe-heading{
    margin-bottom: 20px;
    font-size: 36px;
}
p{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.project-link{
    color: #D25946;
}

.opacity{
    background-color: rgba(194,226,215, 0.6);
}
/*------------------------PROJECTS PAGE----------*/
.project-container{
    padding-bottom: 20px;
}

.projects{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

.row{
    padding: 10px;
    background-color: rgba(247, 247, 247, 0.9);
}

.border-row-bottom{
    width: 100%;
    height: 10px;
    margin-top: 20px;
    background-color: #D25946;
}

/*.thumbnail-box{*/
    /*margin-top: 50px;*/
    /*margin-bottom: 50px;*/
/*}*/
.thumbnail-title{
    font-family: 'Merriweather', serif;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}
.thumbnail{
    height: 200px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.thumbnail-txt{
    /*background-color: rgba(247, 247, 247, 1.5);*/
    text-align: center;
}

.technologies{
    text-align: center;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    margin-bottom: 12px;
}

.description{
    text-align: justify;
    font-family: sans-serif;
    font-size: 16px;
}

.completed{
    text-align: left;
    font-size: 16px;
    font-family: sans-serif;
    margin-top: -5px;
}

/*--------------------CONTACT------------------------*/
.contact-container{
    background-color: rgba(194,226,215, 0.6);
}

.contact-pg{
    margin-bottom: 40px;
}

.contact{
    font-family: 'Merriweather', serif;
    font-size: 24px;
    text-align: center;
    margin-top: 112px;
    margin-bottom: 20px;
}

.contact-form{
    margin-top: 40px;
    margin-left: 50px;
    margin-bottom: 50px;
}

#email, #name{
    width: 300px;
}

label{
    margin-top: 10px;
}
/*----------------FOOTER-----------------------------*/
footer{
    /*border-top: solid 2px #D25946;*/
    /*background-color: #e7ddbe;*/
    height: 85px;
}

.footer_icons{

}

.super{
    margin-left: 50px;
    vertical-align: super;
}

.copyright, .credit{
    font-family: 'Merriweather', serif;
    font-size: 18px;
    font-weight: 300;
    color: #33442A;
}

.social{
    margin: 20px 15px;
    margin-right: 0;
    color: #33442A;
}

.credit{
    text-align: center;
    font-size: 12px;
}
.credit-contact{
    color: #A9C4BB;
}
/*
fonts:
font-family: 'Merriweather', serif;
font-family: 'Courgette', cursive;
*/