<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>
    <span th:include="includes :: css"></span>
</head>
<body class="admin-body">

<div th:include="navbar :: navbar"></div>

<div class="container admin-pg">

<h1>Add new projects to the database:</h1>
<div class="admin-form">
<form action="/admin/createProject" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
    <input type="text" name="title" required="required" placeholder="title"/>
    <input type="text" name="image" placeholder="image"/>
    <input type="text" name="technologies" placeholder="technologies"/>
    <input type="text" name="description" placeholder="description"/>
    <input type="text" name="completed" placeholder="completed"/>
    <input type="text" name="url" placeholder="url"/>
    <input type="text" name="code" placeholder="code"/>
    <input type="text" name="walkthrough" placeholder="walkthrough"/>
    <input type="submit" value="Add"/>
</form>
</div>
<ul>
    <li th:each="project : ${projects}">
        <form action="/admin/deleteProject" method="post">

        <span th:text="${project.title}"></span>
        :
        <span th:text="${project.image}"></span>
        :
        <span th:text="${project.technologies}"></span>
        :
        <span th:text="${project.description}"></span>
        :
        <span th:text="${project.completed}"></span>
        :
        <span th:text="${project.url}"></span>
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <input type="hidden" name="id" th:value="${project.id}"/>
        <input type="submit" value="Delete"/>
</form>
    </li>
</ul>

<form th:action="@{/logout}" method="post">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>
    <input type="submit" value="Logout"/>
</form>
</div>

<div class="credit">image by Max Griboedov/shutterstock</div>


<span th:include="includes :: js"></span>

<div th:include="navbar :: main-footer"></div>

</body>

</html>