<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Admin</title>
    <span th:include="includes :: css"></span>
</head>
<body class="admin-body">

<div th:include="navbar :: navbar"></div>

<div class="container admin-pg">

    <h1>Add new projects to the database:</h1>
    <div class="demo-version" sec:authorize="hasRole('ROLE_USER')">
        <h5 class="demo-notice">You are viewing this page in demo mode. Delete and Add features have been disabled</h5>
    </div>
    <div class="admin-form">
        <form action="/admin/createProject" method="post">
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>

            <input class="form-control" type="text" name="title" required="required" placeholder="title"/>
            <div>
                <input class="form-control" type="text" name="image" placeholder="image"/>
                <div>
                </div>
                <input class="form-control" type="text" name="technologies" placeholder="technologies"/>
                <div>
                </div>
                <textarea class="form-control" type="text" name="description" placeholder="description"></textarea>
                <div>
                </div>
                <input class="form-control" type="text" name="completed" placeholder="completed"/>
                <div>
                </div>
                <input class="form-control" type="text" name="url" placeholder="url"/>
                <div>
                </div>
                <input class="form-control" type="text" name="code" placeholder="code"/>
                <div>
                </div>
                <input class="form-control" type="text" name="walkthrough" placeholder="walkthrough"/>
            </div>
            <div>Do you want this project to be viewable on the website?</div>
            <div class="row">
                <div class="col-sm-5">
                    <div class="form-group">
                        <div class="radio-inline">
                            <label class="col-sm-2 control-label">
                                <input type="radio" name="viewable" id="true"

                                       value="True"/>
                                Yes
                            </label>
                        </div>
                        <div class="radio-inline">
                            <label class="col-sm-2 control-label">
                                <input type="radio" name="viewable" id="false"

                                       value="False"/>
                                No
                            </label>
                        </div>
                    </div>
                </div>
                <input type="submit" value="Add" sec:authorize="hasRole('ROLE_ADMIN')"/>
                <input type="button" value="Add" disabled="true" sec:authorize="hasRole('ROLE_USER')"/>

            </div>
        </form>
    </div>

    <h4>Current projects in database:</h4>
    <ul>
        <li th:each="project : ${projects}">
            <form action="/admin/deleteProject" method="post">
                <span th:text="${project.title}"></span>
                :
                <span th:text="${project.image}"></span>
                :
                <span th:text="${project.technologies}"></span>
                :
                <span th:text="${project.description}"></span>
                :
                <span th:text="${project.completed}"></span>
                :
                <span th:text="${project.url}"></span>
                :
                <span th:text="${project.code}"></span>
                :
                <span th:text="${project.walkthrough}"></span>
                <div>
                    <span><h5>Is this project viewable on the website?&nbsp;</h5></span><span><h5
                        th:if="${project.viewable == True}">Yes</h5></span>
                    <span><h5 th:if="${project.viewable == False}">No</h5></span>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>
                    <input type="hidden" name="id" th:value="${project.id}"/>
                    <input type="submit" value="Delete" sec:authorize="hasRole('ROLE_ADMIN')"/>
                    <input type="button" value="Delete" disabled="true" sec:authorize="hasRole('ROLE_USER')"/>
                </div>
            </form>
            <div class="col-sm-3 col-xs-12">
                <form th:action="'/admin/updateProject/' + ${project.id}" method="get">
                    <input type="hidden" name="id" th:value="${project.id}"/>
                    <input type="submit" value="Update"/>

                </form>
            </div>
            <div class="row" id="project-break"></div>
        </li>
    </ul>

    <form th:action="@{/login}" method="post">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <input type="submit" value="Logout"/>
    </form>

</div>

<div th:include="navbar :: project-footer"></div>

<span th:include="includes :: js"></span>

</body>

</html>