<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin page</title>
</head>
<body>
<h1>Add new projects to the database:</h1>

<form action="/createProject" method="post">
    <input type="text" name="title" required="required" placeholder="title"/>
    <input type="text" name="image" placeholder="image"/>
    <input type="text" name="technologies" placeholder="technologies"/>
    <input type="text" name="description" placeholder="description"/>
    <input type="text" name="completed" placeholder="completed"/>
    <input type="text" name="url" placeholder="url"/>
    <input type="text" name="code" placeholder="code"/>
    <input type="text" name="walkthrough" placeholder="walkthrough"/>
    <input type="submit" value="Add"/>
</form>

<ul>
    <li th:each="project : ${projects}">
        <span th:text="${project.title}"></span>
        :
        <span th:text="${project.image}"></span>
        :
        <span th:text="${project.technologies}"></span>
        :
        <span th:text="${project.description}"></span>
        :
        <span th:text="${project.completed}"></span>
        :
        <span th:text="${project.url}"></span>
        <!--<form action="/deleteProject" method="post">-->
            <!--<input type="hidden" th:value="${project.inamename="id"/>-->
            <!--<input type="submit" value="Delete"/>-->
        <!--</form>-->

    </li>
</ul>


</body>
</html>