<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Contact Me</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css?family=Courgette|Merriweather:700" rel="stylesheet"/>
    <link rel="stylesheet" href="/css/styles.css"/>
</head>
<body>
<header class="navbar">
    <div class="nav-align">
        <!--name and title on left side of screen, title will be smaller font-->
        <span class="name">Christina Cornell</span><span class="title">Software Developer</span>

        <!--list of links to be horizontal, remove list decoration, anchor tags to project page or section of home page-->
        <ul class="links">
            <li class="toplink"><a href="/">About</a></li>
            <li class="toplink"><a href="/projects">Projects</a></li>
            <li class="toplink"><a href="/contact">Contact Me</a></li>
        </ul>
    </div>
</header>

<section>

    <h3 class="contact">I'd love to talk with you about your needs for a software developer. You can contact me via email, or send a message using the form below and I'll get back to you soon.</h3>
<div class="contact-form">
    <form action="/contact">
        <div>
            <label for="name">Name</label>
        </div>
        <div>
            <input id="name" type="text" name="name"/>
        </div>
        <div>
            <label for="email">Email address</label>
        </div>
        <div>
            <input type="text" id="email"/>
        </div>
        <div>
            <label for="message">Message</label>
        </div>
        <div>
            <textarea name="message" id="message" cols="80" rows="10"></textarea>
        </div>
        <div>


            <input type="submit" value="submit"/>
        </div>

    </form>
</div>

</section>

<footer class="footer">
    <i class="fa fa-copyright super social" aria-hidden="true"></i><span class="copyright">2017 Christina Cornell</span>
    <a href="https://github.com/cdhorn515"><i class="fa fa-github fa-lg social" aria-hidden="true"></i></a>
    <a href="https://www.linkedin.com/in/christinadcornell/"><i class="fa fa-linkedin-square fa-lg social" aria-hidden="true"></i></a>
    <a href="https://twitter.com/cdhorn515"><i class="fa fa-twitter fa-lg social" aria-hidden="true"></i></a>
    <i class="fa fa-envelope fa-lg social" aria-hidden="true"></i>

</footer>

</body>
</html>