<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Contact Me</title>
    <span th:include="includes :: css"></span>

</head>
<body class="contact-body">

<div th:include="navbar :: navbar"></div>
<section class="contact-pg opacity-contact-pg">
    <div class="container contact-container">

        <h3 class="contact">Use the links at the bottom of the page or the form below to contact me!</h3>
        <div class="contact-form">


            <form action="/contact" method="post" enctype="multipart/form-data">

                <div>
                    <label for="name">Name</label>
                </div>
                <div>
                    <input class="form-control" name="name" id="name" type="text"/>
                </div>
                <div>
                    <label for="email">Email address</label>
                </div>
                <div>
                    <input class="form-control" name="email" type="email" id="email"/>
                </div>
                <div>
                    <label for="message">Message</label>
                </div>
                <div>
                    <textarea class="form-control text-area" name="message" id="message" cols="80" rows="6"></textarea>
                </div>
                <div>
                    <input type="hidden"
                           th:name="${_csrf.parameterName}"
                           th:value="${_csrf.token}"/>

                    <a href="mailto:cdhorn515@gmail.com?subject=Hi%20Christina,%20I%20like%20your%20portfolio%20site" type="button" class="btn btn-xl btn-contact">Send</a>
                </div>
            </form>

        </div>
    </div>
</section>

<div th:include="navbar :: main-footer"></div>

<span th:include="includes :: js"></span>

</body>
</html>