<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Contact Me</title>
    <span th:include="includes :: css"></span>

</head>
<body>

<div th:include="navbar :: navbar"></div>

<section class="contact-pg opacity">
    <div class="container contact-container">

    <h3 class="contact">Use the links at the bottom of the page or the form below to contact me!</h3>
<div class="contact-form">
    <form action="/contact">
        <div>
            <label for="name">Name</label>
        </div>
        <div>
            <input id="name" type="text" name="name"/>
        </div>
        <div>
            <label for="email">Email address</label>
        </div>
        <div>
            <input type="text" id="email"/>
        </div>
        <div>
            <label for="message">Message</label>
        </div>
        <div>
            <textarea name="message" id="message" cols="80" rows="10"></textarea>
        </div>
        <div>


            <input type="submit" value="submit"/>
        </div>

    </form>
</div>
    </div>
    <div class="credit credit-contact">image by Max Griboedov/shutterstock</div>

</section>
<div class="border-row-bottom"></div>
<footer class="footer">
    <div class="footer_icons">
        <i class="fa fa-copyright super social" aria-hidden="true"></i><span class="copyright">2017 Christina Cornell</span>
        <a href="https://github.com/cdhorn515"><i class="fa fa-github fa-lg social" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/christinadcornell/"><i class="fa fa-linkedin-square fa-lg social" aria-hidden="true"></i></a>
        <a href="https://twitter.com/cdhorn515"><i class="fa fa-twitter fa-lg social" aria-hidden="true"></i></a>
        <a href="mailto:cdhorn515@gmail.com"><i class="fa fa-envelope fa-lg social" aria-hidden="true"></i></a>
    </div>

</footer>
<span th:include="includes :: js"></span>

</body>
</html>