<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Admin Edit</title>
    <span th:include="includes :: css"></span>
</head>
<body class="admin-body">

<div th:include="navbar :: navbar"></div>

<div class="container admin-pg">
    <h1>Update project information:</h1>

    <div class="demo-version" sec:authorize="hasRole('ROLE_USER')">
        <h5 class="demo-notice">You are viewing this page in demo mode. Update feature has been disabled</h5>
    </div>

    <form th:action="'/admin/updateProject/' + ${project.id}" method="post">
        <div>
            <input class="updateProject" type="text" name="title" required="required" th:value="${project.title}"/>
        </div>
        <div>
            <input class="updateProject" type="text" name="image" th:value="${project.image}"/>
        </div>
        <div>
            <input class="updateProject" type="text" name="technologies" th:value="${project.technologies}"/>
        </div>
        <div>
            <input class="updateProject" type="text" name="description" th:value="${project.description}"/>
        </div>
        <div>
            <input class="updateProject" type="text" name="completed" th:value="${project.completed}"/>
        </div>
        <div>
            <input class="updateProject" type="text" name="url" th:value="${project.url}"/>
        </div>
        <div>
            <input class="updateProject" type="text" name="code" th:value="${project.code}"/>
        </div>
        <div>
            <input class="updateProject" type="text" name="walkthrough" th:value="${project.walkthrough}"/>
        </div>
        <div>Do you want this project to be viewable on the website?</div>

        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="radio-inline">
                        <label class="col-sm-2 control-label">
                            <input type="radio" name="viewable" id="true"
                                   th:checked="${project.viewable == True}"
                                   value="True"/>
                            Yes
                        </label>
                    </div>
                    <div class="radio-inline">
                        <label class="col-sm-2 control-label">
                            <input type="radio" name="viewable" id="false"
                                   th:checked="${project.viewable == False}"
                                   value="False"/>
                            No
                        </label>
                    </div>
                </div>
            </div>

        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <input type="hidden" name="id" th:value="${project.id}"/>
        <input type="submit" value="Update" sec:authorize="hasRole('ROLE_ADMIN')"/>
        <input type="button" value="Update" disabled="true" sec:authorize="hasRole('ROLE_USER')"/>
        </div>

    </form>

    <div class="back-button">
        <form action="/admin" method="get">
            <input class="btn btn-default" type="submit" value="Back"/>
        </form>
    </div>


    <!--<form th:action="@{/logout}" th:method="post">-->
        <!--<input type="hidden"-->
               <!--th:name="${_csrf.parameterName}"-->
               <!--th:value="${_csrf.token}"/>-->
        <!--<input type="submit" value="Logout"/>-->
    <!--</form>-->

</div>

<div th:include="navbar :: main-footer"></div>

<span th:include="includes :: js"></span>

</body>
</html>