<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Portfolio home</title>
    <span th:include="includes :: css"></span>
</head>
<body>

<div th:include="navbar :: navbar"></div>

<section class="home-section">
<div class="container home-container">

    <img id="myPic" src="/img/profilepic.jpeg" alt=""/>

<div class="aboutMe">
    <h2 class="aboutMe-heading">About me</h2>

    <h4 class="about-me-title">Software/Web Developer</h4>
    <p>I'm an Iron Yard Web Development graduate and also a musician. My focus is in Java (Spring Boot) and I also have experience with SQL, SQLite, Postgres, Mongo, Node, JavaScript, HTML, and CSS. I enjoy the challenge of debugging and testing code, creating databases, and organizing what I've written into clean, readable code that works in harmony with the design objectives.</p>

    <p>Check out my <a href="/projects" class="project-link">projects</a> page for samples of my web applications.</p>
</div>
</div>

    <div class="credit">image by Max Griboedov/shutterstock</div>

</section>
<!--<div class="border-row-bottom"></div>-->



<div th:include="navbar :: footer"></div>

<span th:include="includes :: js"></span>

</body>

</html>