<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Portfolio home</title>
    <!--<link rel="stylesheet" href="../static/styles.css">-->
</head>
<body>
<header>
    <!--name and title on left side of screen, title will be smaller font-->
    <span>Christina Cornell</span><span>Software Developer</span>

    <!--list of links to be horizontal, remove list decoration, anchor tags to project page or section of home page-->
    <ul>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact Me</a></li>
    </ul>

</header>
<h1>Welcome to my portfolio page</h1>



<p>Iron Yard graduate with a focus in Java (Spring). Also have experience with Postgres, SQL, SQLite, Mongo, Node,
    JavaScript, and PHP. Check out the projects section for samples of my work.
</p>


</body>
</html>