<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Portfolio home</title>
    <span th:include="includes :: css"></span>
</head>
<body class="aboutBody">

<div th:include="navbar :: navbar"></div>

<section class="home-section">
    <div class="container home-container">
        <div class="row">


            <div class="col-md-5 col-xs-12">

                <div class="aboutMe hidden-xs" id="aboutMeContainer">

                    <!--bootstrap panel-->
                        <div class="panel panel-default">
                                <div class="panel-body">
                                    <h4 class="about-me-title">About Me...</h4>
                                    <p>I'm an Iron Yard graduate and a French horn player. I’ve always approached being a musician from an engineering mindset, using critical thinking to determine how to produce a beautiful sound on the horn, and I’m excited to bring my problem solving skills to a new career in software development.</p>

                                    <p>In September 2016 I was accepted into a pilot 16-week program by SC Codes
                                        which focused on solving algorithms, building front-end web applications, and contributing to Code for Greenville's open source project. Following that I enrolled in The Iron Yard's 12-week immersive Web Development program where I was able to dive deeper into front-end fundamentals and really enjoyed learning back-end web development. My interest in working with data and the server side led me to choose Java (Spring Boot) as my language focus. Since graduating I’ve continued adding to my skills and am currently learning Python. Check out my <a href="/projects" class="project-link">projects</a> page for samples of my work.</p>

                                    <p>I’d love to talk with you about joining your team. Connect with me through social media/send an email by clicking on the icons below or send me a message through the form on my <a href="/contact" class="contact-link">contact me</a> page. I look forward to hearing from you!</p>


                                </div>
                        </div>
                </div>

            </div>

            <div class="col-md-4 col-md-offset-3 col-xs-12">
                <img id="myPic" src="/img/profilepic.jpeg" alt=""/>
            </div>

            <div class="about-mobile">
                <div class="aboutMe visible-xs about-mobile">

                    <!--bootstrap panel-->
                    <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h2>About me</h2>
                            </div>
                            <div id="aboutMe">
                                <div class="panel-body">

                                    <h4 class="about-me-title">Web Developer</h4>

                                    <p class="about-text">I'm an Iron Yard graduate and a French horn player. I’ve always approached being a musician from an engineering mindset, using critical thinking to determine how to produce a beautiful sound on the horn, and I’m excited to bring my problem solving skills to a new career in software development.</p>

                                    <p class="about-text">In September 2016 I was accepted into a pilot 16-week program by SC Codes
                                        which focused on solving algorithms, building front-end web applications, and contributing to Code for Greenville's open source project. Following that I enrolled in The Iron Yard's 12-week immersive Web Development program where I was able to dive deeper into front-end fundamentals and really enjoyed learning back-end web development. My interest in working with data and the server side led me to choose Java (Spring Boot) as my language focus. Since graduating I’ve continued adding to my skills and am currently learning Python. Check out my <a href="/projects" class="project-link">projects</a> page for samples of my work.</p>

                                    <p class="about-text">I’d love to talk with you about joining your team. Connect with me through social media/send an email/call by clicking on the icons below or send me a message through the form on my <a href="/contact" class="contact-link">contact me</a> page. I look forward to hearing from you!</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>


</section>


<div th:include="navbar :: project-footer"></div>
<span th:include="includes :: js"></span>
<script type="text/javascript" src="/js/main.js"></script>

</body>

</html>