<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>


<div class="container">
    <h1>Admin login:</h1>
    <form th:action="@{/login}" th:object="${user}" method="post">
        <input type="hidden"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}"/>
        <input type="text" th:field="*{username}" placeholder="Username"/>
        <input type="password" th:field="*{password}" placeholder="Password"/>
        <input type="submit" value="Enter"/>
    </form>

</div>

</body>
</html>