<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="navbar">

    <nav class="navbar navbar-default nav-align navbar-fixed-top">
        <div class="container-fluid">
            <!--toggle for mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="name">Christina Cornell</span>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right links">
                    <li class="toplink"><a href="/">About</a></li>
                    <li class="toplink"><a href="/projects">Projects</a></li>
                    <li class="toplink"><a target="_blank" href="https://s3.amazonaws.com/ccornell-resume/ChristinaCornell_res.pdf">Resume</a></li>
                    <li class="toplink"><a href="/contact">Contact Me</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>

<div th:fragment="main-footer">
    <footer class="footer navbar-default navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="footer_icons">
                <i class="fa fa-copyright super social" aria-hidden="true"></i><span class="copyright">2017 Christina Cornell</span>
                <a href="https://github.com/cdhorn515"><i class="fa fa-github fa-2x social" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/christinadcornell/"><i class="fa fa-linkedin-square fa-2x social"
                                                                            aria-hidden="true"></i></a>
                <a href="https://twitter.com/cdhorn515"><i class="fa fa-twitter fa-2x social"
                                                           aria-hidden="true"></i></a>
                <a href="mailto:cdhorn515@gmail.com"><i class="fa fa-envelope fa-2x social" aria-hidden="true"></i></a>
                <a href="tel:1-864-704-6033"><i class="fa fa-phone fa-2x social" aria-hidden="true"></i></a>
             <span class="admin-link">
                <a href="/admin" class="social credit">Admin</a>
                <p class="social credit">image by Max Griboedov/shutterstock</p>
                </span>
            </div>

        </div>
    </footer>
</div>

<div th:fragment="project-footer">
    <footer class="footer navbar-default">
        <div class="container-fluid">
            <div class="footer_icons">
                <i class="fa fa-copyright super social" aria-hidden="true"></i><span class="copyright">2017 Christina Cornell</span>
                <a href="https://github.com/cdhorn515"><i class="fa fa-github fa-2x social" aria-hidden="true"></i></a>
                <a href="https://www.linkedin.com/in/christinadcornell/"><i class="fa fa-linkedin-square fa-2x social"
                                                                            aria-hidden="true"></i></a>
                <a href="https://twitter.com/cdhorn515"><i class="fa fa-twitter fa-2x social"
                                                           aria-hidden="true"></i></a>
                <a href="mailto:cdhorn515@gmail.com"><i class="fa fa-envelope fa-2x social" aria-hidden="true"></i></a>
                <a href="tel:1-864-704-6033"><i class="fa fa-phone fa-2x social" aria-hidden="true"></i></a>
                <span class="admin-link">
                <a href="/admin" class="social credit">Admin</a>
                <p class="social credit">image by Max Griboedov/shutterstock</p>
                </span>
            </div>
        </div>
    </footer>
</div>

</body>
</html>
