<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org"/>
<head>
    <meta charset="UTF-8"/>
    <title>Featured Projects</title>
</head>
<body>

<header>
    <!--name and title on left side of screen, title will be smaller font-->
    <span>Christina Cornell</span><span>Software Developer</span>

    <!--list of links to be horizontal, remove list decoration, anchor tags to project page or section of home page-->
    <ul>
        <li><a href="/">About</a></li>
        <li><a href="/projects">Projects</a></li>
        <li><a href="#">Contact Me</a></li>
    </ul>

</header>

<h2>Click on the thumbnails below to see full page examples of my work:</h2>

<div></div>
<div></div>
<div></div>
<div></div>

</body>
</html>