<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Featured Projects</title>
    <span th:include="includes :: css"></span>
</head>
<body>

<div th:include="navbar :: navbar"></div>

<section class="opacity-project-pg">

    <div class="container project-container">

        <h2 class="projects">Click on the links below to view samples of my web applications:</h2>

        <div class="row">
            <div th:each="project : ${projects}" class="col-md-4 project-row">
                <div class="thumbnail-title"><a target="_blank" th:href="${project.url}"
                                                th:text="${project.title}"></a></div>
                <a target="_blank" th:href="${project.url}">
                    <img class="thumbnail" th:src="${project.image}" alt=""/>
                </a>
                <div class="thumbnail-txt">
                    <div class="technologies" th:text="${project.technologies}"></div>
                    <div class="repo"><a target="_blank" th:href="${project.code}">GitHub repo</a></div>
                    <div class="demo"><a target="_blank" href="#">Demo-Coming Soon!</a></div>
                    <div class="information">
                        <!-- Button trigger modal -->
                        <a th:href="'#' + ${project.id}" type="button" class="btn btn-default btn-md"
                           data-toggle="modal" data-th-target="${project.id}">
                            Click for description
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div th:each="project : ${projects}" class="modal fade" th:id="${project.id}"
             aria-labelledby="projectTitle" tabindex="-1" role="dialog">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="projectTitle"
                            th:text="${project.title}"></h4>
                    </div>
                    <div class="modal-body">
                        <p class="description" th:text="${project.description}"></p>
                        <p class="completed" th:text="${project.completed}"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div> <!--end of Modal div-->
    </div>

</section>

<footer class="footer navbar-default">
    <div class="container-fluid">
        <div class="footer_icons">
            <i class="fa fa-copyright super social" aria-hidden="true"></i><span class="copyright">2017 Christina Cornell</span>
            <a href="https://github.com/cdhorn515"><i class="fa fa-github fa-2x social" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/in/christinadcornell/"><i class="fa fa-linkedin-square fa-2x social"
                                                                        aria-hidden="true"></i></a>
            <a href="https://twitter.com/cdhorn515"><i class="fa fa-twitter fa-2x social"
                                                       aria-hidden="true"></i></a>
            <a href="mailto:cdhorn515@gmail.com"><i class="fa fa-envelope fa-2x social" aria-hidden="true"></i></a>
            <a href="tel:1-864-704-6033"><i class="fa fa-phone fa-2x social" aria-hidden="true"></i></a>
            <span class="admin-link">
                <a href="/admin" class="social credit">Admin</a>
                <p class="social credit">image by Max Griboedov/shutterstock</p>
                </span>
        </div>
    </div>
</footer>

<!--<div th:include="navbar :: project-footer"></div>-->

<span th:include="includes :: js"></span>

</body>
</html>




